<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application>

        <receiver android:name=".GoogleLocationUpdatesBroadcastReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.splendo.kaluga.location.locationupdates.action"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>


