<manifest package="com.splendo.kaluga.location"
        xmlns:android="http://schemas.android.com/apk/res/android"
        >
    <uses-permission android:name="ACCESS_FINE_LOCATION" />

    <application>
        <activity
                android:name=".EnableLocationActivity"
                android:theme="@style/Location"/>

        <receiver android:name=".LocationUpdatesBroadcastReceiver"  android:exported="true">
            <intent-filter>
                <action android:name="com.splendo.kaluga.location.locationupdates.action"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".LocationEnabledUpdatesBroadcastReceiver"  android:exported="true">
            <intent-filter>
                <action android:name="com.splendo.kaluga.location.locationenabledupdates.action"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>


