<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.splendo.kaluga.example">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- If your app targets Android 9 or lower,  -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>

    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".ExampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.splendo.kaluga.example.FeaturesListActivity"
                  android:label="Features list">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".location.LocationActivity"
                  android:label="Location"/>
        <activity android:name=".permissions.PermissionsDemoListActivity"
                  android:label="@string/permissions_list"/>
        <activity android:name=".permissions.bluetooth.BluetoothPermissionsDemoActivity"
                  android:label="@string/permissions_bluetooth"/>
        <activity android:name=".permissions.calendar.CalendarPermissionsDemoActivity"
            android:label="@string/permissions_calendar"/>
        <activity android:name=".permissions.camera.CameraPermissionsDemoActivity"
            android:label="@string/permissions_camera"/>
        <activity android:name=".permissions.contacts.ContactsPermissionsDemoActivity"
            android:label="@string/permissions_contacts"/>
        <activity android:name=".permissions.location.LocationPermissionsDemoActivity"
            android:label="@string/permissions_location"/>
        <activity android:name=".permissions.microphone.MicrophonePermissionsDemoActivity"
        android:label="@string/permissions_microphone"/>
        <activity android:name=".permissions.notifications.NotificationsPermissionsDemoActivity"
            android:label="@string/permissions_notifications"/>
        <activity android:name=".permissions.storage.StoragePermissionsDemoActivity"
            android:label="@string/permissions_storage"/>
        <activity android:name=".alerts.AlertsActivity"
                  android:label="Alerts"/>
        <activity android:name=".loading.LoadingActivity"
                  android:label="Loading Indicator"/>

        <service android:name=".location.LocationBackgroundService"/>

    </application>

</manifest>