<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.splendo.kaluga"
        xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ALLOW_MOCK_LOCATIONS"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <application android:label="Kaluga Tests"  tools:replace="android:label"/>
</manifest>
